<!-- templates/change_user_password.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change User's Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>Admin Dashboard</h2>
        <form action="{{ url_for('main.admin_dashboard') }}" method="get">
            <button type="submit" class="sidebar-button">Dashboard Main Page</button>
        </form>

        <form action="{{ url_for('main.view_users') }}" method="get">
            <button type="submit" class="sidebar-button">View All Users</button>
        </form>

        <form action="{{ url_for('main.view_subscribed_users') }}" method="get">
            <button type="submit" class="sidebar-button">View Subscribed Users</button>
        </form>

        <form action="{{ url_for('main.view_transactions') }}" method="get">
            <button type="submit" class="sidebar-button">View All Transactions</button>
        </form>

        <form action="{{ url_for('main.change_user_password') }}" method="get">
            <button type="submit" class="sidebar-button">Change User's Password</button>
        </form>

        <form action="{{ url_for('main.delete_user') }}" method="get">
            <button type="submit" class="sidebar-button">Delete User</button>
        </form>

        <form action="{{ url_for('main.stock_record_analysis') }}" method="get">
            <button type="submit" class="sidebar-button">Check Stock Exchange History</button>
        </form>
    </div>

    <!-- Content Area -->
    <div class="content">
        <h1>Change User's Password</h1>


        <!-- Form for changing the password -->
        <form method="POST">
            <label for="user_id">User ID:</label>
            <input type="text" name="user_id" required>

            <br><br>

            <button type="submit">Delete User</button>
        </form>

        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

</body>
</html>