<!-- templates/view_users.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Logout Button in Top-Right -->
    <button style="width: 100px; height:35px;" class="logout-button" onclick="window.location.href='{{ url_for('auth.logout') }}'">Logout</button>

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>Admin Dashboard</h2>
        <form action="{{ url_for('main.admin_dashboard') }}" method="get">
            <button type="submit" class="sidebar-button">Dashboard Main Page</button>
        </form>

        <form action="{{ url_for('main.view_users') }}" method="get">
            <button type="submit" class="sidebar-button">View All Users</button>
        </form>

        <form action="{{ url_for('main.view_subscribed_users') }}" method="get">
            <button type="submit" class="sidebar-button">View Subscribed Users</button>
        </form>

        <form action="{{ url_for('main.view_transactions') }}" method="get">
            <button type="submit" class="sidebar-button">View All Transactions</button>
        </form>

        <form action="{{ url_for('main.change_user_password') }}" method="get">
            <button type="submit" class="sidebar-button">Change User's Password</button>
        </form>

        <form action="{{ url_for('main.delete_user') }}" method="get">
            <button type="submit" class="sidebar-button">Delete User</button>
        </form>

        <form action="{{ url_for('main.stock_record_analysis') }}" method="get">
            <button type="submit" class="sidebar-button">Check Stock Exchange History</button>
        </form>
    </div>

    <!-- Content Area -->
    <div class="content">
        <h1>Subscribed Users List</h1>
        <table border="1" cellpadding="10" cellspacing="0" class="user-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Userid</th>
                    <th>Card number</th>
                    <th>Card holder name</th>
                    <th>Safety code</th>
                    <th>Subscription date</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user[0] }}</td>  
                        <td>{{ user[1] }}</td>  
                        <td>{{ user[2] }}</td>  
                        <td>{{ user[3] }}</td> 
                        <td>{{ user[4] }}</td> 
                        <td>{{ user[5] }}</td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>